.banner-foto {
  background-image: url("../images/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 68px;
}

.logo {
  float: left;

}

.menu-header {
  float: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #e2e2e2;
}

.phone {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  background-image: url("../images/phone-icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.email {
  background-image: url("../images/email-icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #03b6e7;
  padding: 7px 7px;
}

header {
  li {
    float: left;
    padding: 0 20px;
    a {
      list-style-type: none;
    }
  }
}



header li.active:hover a {
  color: #ffac55;

}


.header-blok {
  margin-top: 175px;
  margin-bottom: 60px;
}


h1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;

}


.header-text {
  color: #ffffff;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
}


.education {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #03b6e7;
  padding: 85px 80px 100px 80px;
}



.education.active {
  background-color: #f6961b;

}
