.button-aboutus {
  border-radius: 5px;
  padding: 18px 26px;
  background-color: #16d428;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

}

.button-aboutus:hover {
  background-color: yellow;
  color: blue;

}

.button-banking {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 12px 27px;
  border: 2px solid #ffac56;
}

.button-banking:hover {
  background-color: yellow;
  color: blue;

}

.button-features {
  float: right;
  width: 50%;
  border-radius: 5px;
  padding: 17px 33px;
  background-color: #16d428;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.button-features:hover {
  background-color: yellow;
  color: blue;

}

.button-projects {
  border-radius: 5px;
  padding: 17px 30px;
  background-color: #16d428;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

}

.button-projects:hover {
  background-color: yellow;
  color: blue;

}

.button-services {
  border-radius: 5px;
  padding: 17px 32px;
  background-color: #16d428;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

}

.button-services:hover {
  background-color: yellow;
  color: blue;

}

.button-blog {
  border-radius: 5px;
  padding: 17px 32px;
  background-color: #16d428;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

}

.button-blog:hover {
  background-color: yellow;
  color: blue;

}



.footer-button {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
  padding: 21px 24px;
  float: left;
  background-color: #16d428;


}

.footer-button:hover {
  background-color: yellow;
  color: blue;

}



.button-explore:hover {
  background-color: yellow;
  color: blue;

}



