.body h1 {
  font-family: 'Montserrat', sans-serif;

  }

.menu-header .explore h3 {
  font-family: 'Domine', serif;

}

.form-input input {
  font-family: 'Raleway', sans-serif;

}

footer h2, .image-blok {
  font-family: 'Raleway', sans-serif;
}

.explore .text {
  font-family: "Open Sans", sans-serif;
}

.footer-menu {
  font-family: "Open Sans", sans-serif;
  }

