
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.aboutus {
  background-color: #ffffff;
  padding-bottom: 90px;
  padding-top: 90px;
  text-align: center;
}

h2 {
  color: #343a3b;
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
}


.aboutus .text {
  margin-top: 40px;
  margin-bottom: 40px;

}


.features {
  background-color: #e7eff1;
  padding-bottom: 90px;
  padding-top: 92px;
  text-align: center;

}

.features-left {
  float: left;
  width: 40%;
}

.features-middle {
  float: left;
  width: 20%;
}
.features-right {
  float: left;
  width: 40%;
}

.features-blok {
  margin-bottom: 70px;
}

.features-support {
  background-image: url("../images/icon-support.png");
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  background-size: cover;
}


.features-security {
  background-image: url("../images/icon-security.png");
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
  background-size: cover;
}

.features-bisness {
  background-image: url("../images/icon-business-boosting.png");
  background-repeat: no-repeat;
  background-position: left top;
  text-align: center;
  background-size: cover;
}

.features-process {
  background-image: url("../images/icon-career.png");
  background-repeat: no-repeat;
  background-position: left top;
  text-align: center;
  background-size: cover;
}

h3 {
  color: #343a3b;
  font-size: 17px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
}


.features .text {
  margin-top: 20px;

}

.features h2  {
  margin-bottom: 73px;

}

.features-contact {
  background-color: #565d5d;
  padding: 30px 36px 30px 25px;
  color: #ffffff;
  font-family: 'Domine', serif;
  font-size: 20px;
  font-weight: 400;
  float: left;
  width: 50%;
}


.projects {
  background-color: #ffffff;
  padding-bottom: 100px;
  padding-top: 94px;
  text-align: center;
}

.projects-left {
  float: left;
  width: 40%;
  position: relative;
}


.projects-blok {
  background-color: #f6961b;
  padding: 38px 30px 55px 30px;
}

.services {
  background-color: #fffaf3;
  padding-bottom: 92px;
  padding-top: 96px;
  text-align: center;
}

.services-blok {
  float: left;
  width: 33.33%;
}

.services-image {
  margin-bottom: 32px;
}

.testimonials .conteiner {
    background-image: url("../images/quote-icon.png");
    background-repeat: no-repeat;
    background-position: left top;
    text-align: center;
    background-size: cover;
}

.testimonials {
  background-color: #03b6e7;
  padding-bottom: 92px;
  padding-top: 95px;
  text-align: center;
}

.testimonials h2 text {
  color: #ffffff;
}

.testimonials-image {
  float: left;
}

.text-client {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  padding-top: 34px;
  border-top: 2px solid #ffffff;
}


.testimonials text {
  background-image: url("../images/quote-icon2.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  text-align: center;
  background-size: cover;
}

.blog {
  background-color: #e7eff1;
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
}

.blog-image-man{
  float: left;
  width: 50%;
}

.blog-text {
  float: left;
  width: 50%;
}

.blog-image {
  float: left;
  width: 50%;
  box-shadow: 0 0 70px #d4e2e5;
  background-color: #ffffff;
}

.contact-email {
  background-image: url("../images/icon-email.png");
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  display: inline-block;
  float: left;
  width: 33.33%;
  height: 120px;
  border: 1px solid #e1eaec;

}

.contact-call {
  background-image: url("../images/icon-call.png");
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  display: inline-block;
  float: left;
  width: 33.33%;
  height: 120px;
  border: 1px solid #e1eaec;
  margin: 0 15px;
}

.contact-career {
  background-image: url("../images/icon-career.png");
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  display: inline-block;
  float: left;
  width: 33.33%;
  height: 120px;
  border: 1px solid #e1eaec;

}

.contact-text {
  color: #343a3b;
  font-family: 'Domine', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.contact {
  background-color: #ffffff;
  padding-bottom: 100px;
  padding-top: 90px;
  text-align: center;
}